{% if page.keywords %}
  {% assign keywords = page.keywords %}
{% else %}
  {% assign keywords = 'Gabriel Horner, tags, machine tags, semantic tags, rails, ruby, github, tagging, outline, tree' %}
{% endif %}
{% capture description %}{% if page.description %}{{page.description}}{% else %}Tagaholic - {{page.title }} - Gabriel Horner's thoughts on tagging, ruby, rails and better knowledge management {% endif %}{% endcapture %}
<meta name="keywords" content="{{keywords | xml_escape| truncate: 160}}" />
<meta name="description" content="{{description | strip_html | xml_escape| truncate: 200}}" />