<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Michael Macasek</a>
      <ul class="nav">
        <li {% if page.tab == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
        <li {% if page.tab == 'resume' %}class="active"{% endif %}><a href="resume/macasek_resume.pdf">Resume</a></li>
        <li {% if page.tab == 'pubs' %}class="active"{% endif %}><a href="publications.html">Publications</a></li>
      </ul>
    </div>
  </div>
</div>