#tweets,
#projects {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc; 
  margin-top: 10px;
  padding: 5px 10px;
}

#tweets .error,
#projects .error {
  font-size: 11px;  
  margin-bottom: 10px;  
  margin-top: 10px;
}

#tweets li,
#projects li {  
  list-style-type: none;  
  margin: 5px 0px;  
  overflow: hidden;
}

#tweets li .separator,
#projects li .separator {  
  border-bottom: 1px solid #c7c7c7;  
  height: 1px;  min-width: 98%; 
  margin-top: 5px;
  margin-bottom: 5px;
}

#tweets li:last-child .separator,
#projects li:last-child .separator {
  display:none;
}

#timeline,
#project_list {
  padding: 0px;
  margin: 0px;
}
 
.tweet img {
  float:left;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}           

.tweet .body,
.project .body { 
  font-size: 11px; 
  margin: 0px;
}

.tweet .body {
  margin-left: 40px;
}

.project .body {
  margin-top:5px;
}

.tweet .source_time,
.project .source_time {
  font-size: 9px;
  margin: 5px 0px 0px 0px;
}

.tweet .time,
.project .time {
  color:#cccccc;
} 

.tweet .time {
  margin-left:5px; 
}

.project h3 {
  margin: 0px;
  font-size: 15px;
  line-height:20px;
}

.right {
  text-align:right;
}  

ul.find_me {
  margin-top:12px;
}

.hero-unit img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}